    <header class="p-3 bg-dark text-white">
        <div class="row">
            <div class="col">
                <h3>Blog Kopesh</h3>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center gap-3">
                    <a class="text-light text-decoration-none" href="/">Home</a>
                    <a class="text-light text-decoration-none" href="{% url "blog:about"%}">About</a>
                    <a class="text-light text-decoration-none" href="{% url "blog:contact"%}">Contact</a>
                    <a class="text-light text-decoration-none" href="{%url "blog:login" %}">Login</a>
                    <a class="text-light text-decoration-none" href="{%url "blog:register"%}">Register</a>
                </div>
            </div>
        </div>
    </header>